<div class="page-wrapper">
  <div class="explanation-container hidden-result">
    <h2 class="result"></h2>
    <p class="explanation">
      {{ ch1_questions[0].explanation }}
    </p>
  </div>
  <div class="flashcards-container">
    <div class="question-box">
      <h2 class="question">{{ ch1_questions[0].question }}</h2>
    </div>
    <div class="answer-box answer-box_A">
      <p class="answer">
        <span class="bold">A)</span>
        <span class="answerA">{{ ch1_questions[0].answerA }}</span>
      </p>
    </div>

    <div class="answer-box answer-box_B">
      <p class="answer">
        <span class="bold">B)</span>
        <span class="answerB">{{ ch1_questions[0].answerB }}</span>
      </p>
    </div>

    <div class="answer-box answer-box_C">
      <p class="answer">
        <span class="bold">C)</span>
        <span class="answerC">{{ ch1_questions[0].answerC }}</span>
      </p>
    </div>
    <div class="answer-box answer-box_D">
      <p class="answer">
        <span class="bold">D)</span>
        <span class="answerD">{{ ch1_questions[0].answerD }}</span>
      </p>
    </div>
    <div class="button-box">
      <button class="prev-btn">Prev</button>
      <button class="check-btn">Check</button>
      <button class="next-btn">Next</button>
    </div>
  </div>

  <div class="chapters-container">
    <h3 class="chapter-header">Select a chapter to review</h3>
    <nav class="chapters-navbar">
      <ul class="chapters">
        <li class="chapter active-chapter">1</li>
        <li class="chapter">2</li>
        <li class="chapter">3</li>
        <li class="chapter">4</li>
        <li class="chapter">5</li>
        <li class="chapter">6</li>
        <li class="chapter">7</li>
        <li class="chapter">8</li>
        <li class="chapter">9</li>
        <li class="chapter">10</li>
        <li class="chapter">11</li>
        <li class="chapter">12</li>
        <li class="chapter">All</li>
      </ul>
    </nav>
  </div>
</div>
